@import "./base/reset";
@import "./variables/variables";
@import "./base/main";

form.Form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 10%;

  .Button {
    padding: 20px;
  }
}

form.FormProfile {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 2%;

  .Button {
    padding: 20px;
  }
}
